:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --gray-light: #96989d;
    --primary: #3c8dbc;
    --primary-hover: #2a6a8d;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
}

.red {
    color: var(--red);
}

.green {
    color: var(--green);
}

.gray {
    color: var(--gray);
}

.indigo {
    color: var(--indigo);
}

.blue {
    color: var(--blue);
}

.purple {
    color: var(--purple);
}

.yellow {
    color: var(--yellow);
}

.orange {
    color: var(--orange);
}

.cyan {
    color: var(--cyan);
}

.teal {
    color: var(--teal);
}

.light-grey {
    color: var(--gray-light);
}

.light-blue {
    color: var(--primary);
}

.border-saved {
    border: solid 1px var(--green);
}

.border-error{
    border: solid 1px var(--red);
    color: var(--red);
}

a {
    color: var(--primary);
}

a:hover {
    color: var( --primary-hover);
}

table.dataTable tbody td {
    vertical-align: middle;
}

label.error {
    padding-top: 5px;
    padding-left: 10px;
    color: var(--red);
    font-weight: normal !important;
}

.select2-container {
    display: block;
}

.select2-selection__choice,
.page-item.active .page-link {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
}

.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active, .sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active,
.select2-blue .select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-blue .select2-container--default .select2-results__option--highlighted[aria-selected]:hover,
.select2-container--default .select2-blue .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-blue .select2-results__option--highlighted[aria-selected]:hover,
.btn-primary{
    background-color: var(--primary);
}

.btn-primary:hover {
    background-color: var(--primary-hover);
}

.btn:hover > i {
    color: var(--gray-dark);
}

#returnBtn {
    margin-right: 25px;
}

#returnBtn a {
    line-height: 30px;
}

#returnBtn a:hover {
    text-decoration: underline;
    text-decoration-color: #000;
}

#returnBtn i {
    margin-right: 5px;
}